@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    background-color: rgba(252, 253, 253, 0.998)
}
.container{
    text-align: center;
}
.home-link{
    text-decoration: none;
    
}
.links{
    text-decoration: none;
    color:inherit;
    margin-left: 20px;
    font-size: 15px;
}
.top-links{
    text-align: right;
    padding: 10px;
    margin-top: 10px;
    margin-right: 30px;
    position: relative;
}
.google-logo {
  font-family: 'Nunito', sans-serif;
  font-size: 100px;
  font-weight: 600;
}
.google-logo span {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.g-blue { color: #4285F4; } 
.o-red  { color: #EA4335; }  
.o-yellow { color: #FBBC05; } 
.l-green { color: #34A853; }  
.e-red  { color: #EA4335; }   

.search-container{
    display: flex;
    flex-direction: column;
}
.g-search {
    width: 25%;
    border-radius: 30px;
    height: 50px;
    border: none;
    padding-right: 500px;
    padding-left: 40px; 
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.1),
                -2px -0px 6px 1px rgba(0, 0, 0, 0.1);
}
.btn{
    background-color: rgba(163, 163, 163, 0.103);
    border: none;
    width:150px;
    height:40px;
    border-radius: 7px;
    margin-top: 20px;
    margin-right: 50px;
    transition: transform 0.1s ease;
}


.btn:hover{
    transform: scale(0.95);
    border: 0.1px solid rgba(0, 0, 0, 0.441);
}
    